
.window{
  width:600px;
  height:400px;
  overflow:hidden;
  margin:60px auto 0;
}
.images{
  display:flex;
  align-items:flex-start;
  position: relative;
  transition:all 1s;
}
.images>img{
  top:0;
  width:100%; 
}
.buttonwrapper{
  text-align: center;
}
